:root {
  --primary-color: #00617a;
  --secondary-color: #007d9e;
  --background-color: #f5f5f5;
  --text-color: #333;
  --header-bg: #333;
  --header-color: #fff;
  --nav-bg: #eee;
}

body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: var(--header-bg);
  color: var(--header-color);
  text-align: center;
  padding: 1.5em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0.5em;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: var(--primary-color);
}

h3 {
  font-size: 1.5em;
  color: var(--secondary-color);
}

nav {
  background-color: var(--nav-bg);
  padding: 1em;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 1em;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color);
}

main {
  padding: 2em;
  max-width: 780px;
  margin: 0 auto;
}

.rule-page {
  text-align: left;
  padding-left: 2em;
}

.rule-page p,
.rule-page ul {
  margin-bottom: 1em;
}

.centered-image {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.centered-image img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  background-color: #fff;
  border-radius: 8px;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  padding-left: 20px;
}

@media (max-width: 600px) {
  main {
    padding: 1em;
  }

  .rule-page {
    padding-left: 1em;
  }
}

/* ibm-plex-sans-kr-regular - korean_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* ibm-plex-sans-kr-500 - korean_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-500.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* ibm-plex-sans-kr-700 - korean_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/ibm-plex-sans-kr-v10-korean_latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
